
@{
    ViewBag.Title = "Index";
}


@section script
{
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript">

        //var select = document.getElementById('sDevices');
        //var valueSelect = select.options[select.selectedIndex].value;
        var selectedDevice = "2";
        var WindowsApiUrlOpenDevice_Capture = "http://localhost:1234/api/Home/OpenDeviceIRIS_Capture";
        var WindowsApiUrlIrisCapture = "http://localhost:1234/api/Home/IrisCapture?WhichEye=" + selectedDevice;;
        $('#IMAGE_IRIS_RIGHT').removeProp('src');
        $('#IMAGE_IRIS_LEFT').removeProp('src');
        $('#pageloaddivLeft').hide();
        $('#pageloaddivRight').hide();
        $("#ResponseMessageQuailityEyes").text("");
        $("#DivMessgaBox").hide();
        $("#QuiltyRight").text("");
        $("#QuiltyLeft").text("");
        $("#QialtyHide").hide();
        $("#QialtyHide2").hide();
        $('#IMAGE_IRIS_RIGHT').removeProp('src');
        $('#IMAGE_IRIS_LEFT').removeProp('src');

        

        $("#SaveEyeButton").click(function () {
            var SiebelApp = top.parent.SiebelApp;
        });

        $("#EyeCaptureButton").click(function () {
           
            $('#pageloaddivLeft').show();
            $('#pageloaddivRight').show();
            $('#IMAGE_IRIS_RIGHT').removeProp('src');
            $('#IMAGE_IRIS_LEFT').removeProp('src');
            $("#ResponseMessageQuailityEyes").text("");
            $("#DivMessgaBox").hide();
            $("#QuiltyRight").text("");
            $("#QuiltyLeft").text("");
            $("#QialtyHide").hide();
            $("#QialtyHide2").hide();

            $.ajax({
                url: WindowsApiUrlIrisCapture,
                type: "GET",

                dataType: "json",
                crossDomain: true,
                success: function (response) {
                    $('#pageloaddivLeft').hide();
                    $('#pageloaddivRight').hide();
                    $('#IMAGE_IRIS_RIGHT').removeProp('src', null);
                    $('#IMAGE_IRIS_LEFT').removeProp('src', null);
                    $("#ResponseMessageQuailityEyes").text("");
                    $("#DivMessgaBox").hide();
                    $("#QuiltyRight").text("");
                    $("#QuiltyLeft").text("");
                    $("#QialtyHide").hide();
                    $("#QialtyHide2").hide();
                    if (response.length > 0) {


                        if (response[0].ImageQuailtyLeft != '0' && response[0].ImageQuailtyRight != '0') {

                            if (response[0].MessageQuailty == 'Success,High quality') {
                                $("#IMAGE_IRIS_RIGHT").attr("src", "data:image/png;base64," + response[0].ImageLeft);
                                $("#IMAGE_IRIS_LEFT").attr("src", "data:image/png;base64," + response[0].ImageRight);
                                $("#QuiltyRight").text(response[0].ImageQuailtyRight == "110" ? $("#DeqaIDRight").hide() : $("#DeqaIDRight").show());
                                $("#QuiltyLeft").text(response[0].ImageQuailtyLeft == "110" ? $("#DeqaIDLeft").hide() : $("#DeqaIDLeft").show());


                                $("#QialtyHide").show();
                                $("#QialtyHide2").show();
                                $("#QuiltyRight").text(response[0].ImageQuailtyRight == "110" ? "العين اليمنى مفقوده" : response[0].ImageQuailtyRight);
                                $("#QuiltyLeft").text(response[0].ImageQuailtyLeft == "110" ? "العين اليسرى مفقوده" : response[0].ImageQuailtyLeft);


                                $("#DivMessgaBox").show();
                                $("#ResponseMessageQuailityEyes").text("تم الالتقاط بنجاح جودة الصورة عاليه");

                            } else {
                                $("#IMAGE_IRIS_RIGHT").attr("src", "data:image/png;base64," + response[0].ImageLeft);
                                $("#IMAGE_IRIS_LEFT").attr("src", "data:image/png;base64," + response[0].ImageRight);
                                $("#QuiltyRight").text(response[0].ImageQuailtyRight == "110" ? $("#DeqaIDRight").hide() : $("#DeqaIDRight").show());
                                $("#QuiltyLeft").text(response[0].ImageQuailtyLeft == "110" ? $("#DeqaIDLeft").hide() : $("#DeqaIDLeft").show());
                                $("#QialtyHide").show();
                                $("#QialtyHide2").show();
                                $("#QuiltyRight").text(response[0].ImageQuailtyRight == "110" ? "العين اليمنى مفقوده" : response[0].ImageQuailtyRight);
                                $("#QuiltyLeft").text(response[0].ImageQuailtyLeft == "110" ? "العين اليسرى مفقوده" : response[0].ImageQuailtyLeft);
                                $("#DivMessgaBox").show();
                                $("#ResponseMessageQuailityEyes").text("فشـل جوده الصورة قليله يرجى المحاولة مره اخرى");
                            }

                        } else {
                            $("#DivMessgaBox").show();
                            $('#pageloaddivLeft').hide();
                            $('#pageloaddivRight').hide();
                            document.getElementById('IMAGE_IRIS_RIGHT').removeAttribute('src');
                            document.getElementById('IMAGE_IRIS_LEFT').removeAttribute('src');
                            $("#QuiltyRight").text("");
                            $("#QuiltyLeft").text("");
                            $("#QialtyHide").hide();
                            $("#QialtyHide2").hide();
                            $("#ResponseMessageQuailityEyes").text("لقد نفذ الوقت يرجى المحاولة مره اخرى");

                        }


                    }

                },
                error: function (e) {

                    alert("Error");

                }
            });


        });

        //$("#connectButton").click(function () {

        //    $.ajax({
        //        url: WindowsApiUrlOpenDevice_Capture,
        //        type: "GET",
        //        dataType: "json",
        //        crossDomain: true,
        //        success: function (response) {

        //            debugger;
        //            if (response[0] == 'ConnectionSuccssfult') {
        //                alert("تم تشغيل الكاميرا بنجاح");
        //            } else if (response[0] == 'IS_ERROR_ALREADY_OPEN') {
        //                alert("الكاميرا حاليا في وضع التشغيل");
        //            } else {
        //                if (confirm("قد تكون الخدمة متوقفة أو أنه لم يتم تثبيتها . هل تود تحميل تعريف الإصدار الأحدث من الخدمة؟")) {
        //                    window.open("/files/IRISCameraSetup.msi", "_base");
        //                }
        //            }
        //        },
        //        error: function (e) {
        //            if (confirm("قد تكون الخدمة متوقفة أو أنه لم يتم تثبيتها . هل تود تحميل تعريف الإصدار الأحدث من الخدمة؟")) {
        //                window.open("/files/IRISCameraSetup.msi", "_base");
        //            }
        //        }
        //    });


        //})

        $("#sDevices").change(function () {
            debugger;
            selectedDevice = $(this).find('option:selected').val();
            WindowsApiUrlIrisCapture = "http://localhost:1234/api/Home/IrisCapture?WhichEye=" + selectedDevice;

        });


        $(document).ready(function () {
            $.ajax({
                url: WindowsApiUrlOpenDevice_Capture,
                type: "GET",
                dataType: "json",
                crossDomain: true,
                success: function (response) {

                    debugger;
                    if (response[0] == 'ConnectionSuccssfult') {
                       // alert("تم تشغيل الكاميرا بنجاح");
                    } else if (response[0] == 'IS_ERROR_ALREADY_OPEN') {
                       // alert("الكاميرا حاليا في وضع التشغيل");
                    } else if (response[0] == 'IS_ERROR_NONE') {
                       // alert("الكاميرا حاليا في وضع التشغيل");
                    }
                    else {
                        if (confirm("قد تكون الخدمة متوقفة أو أنه لم يتم تثبيتها . هل تود تحميل تعريف الإصدار الأحدث من الخدمة؟")) {
                            window.open("/files/IRISCameraSetup.msi", "_base");
                        }
                    }
                },
                error: function (e) {
                    if (confirm("قد تكون الخدمة متوقفة أو أنه لم يتم تثبيتها . هل تود تحميل تعريف الإصدار الأحدث من الخدمة؟")) {
                        window.open("/files/IRISCameraSetup.msi", "_base");
                    }
                }
            });
        });


        $("#buttonBack").click(function () {
            window.location = "/IRIS_Root/IRIS_PAGES";
        });


    </script>
}


<style>
    .borderSstyle {
        border: 1px solid;
        border-radius: 25px;
    }

    #pageloaddivLeft {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: url('https://www.marcotec-shop.com/pub/static/frontend/Triple/marcotec/en_US/images/loading_small.gif') no-repeat center center;
        margin-top: 65px;
    }

    #pageloaddivRight {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: url('https://www.marcotec-shop.com/pub/static/frontend/Triple/marcotec/en_US/images/loading_small.gif') no-repeat center center;
        margin-top: 65px;
    }



    .img_camera {
        width: 400px;
        height: 240px;
        position: absolute;
        top: 5px;
        padding-right: 64px;
        z-index: 9999;
    }

    button#SaveEyeButton {
        cursor: pointer;
        color: white !important;
        background: #1f3646 !important;
        border-bottom: 3px solid #9e8615 !important;
        border-radius: 0 !important;
        margin-bottom: 1px !important;
        font-size: 18px;
        font-weight: bold;
        width: 175px;
        height: 35px;
        margin-top: 15px;
    }

    button#EyeVeryfiyButton {
        cursor: pointer;
        color: white !important;
        background: #1f3646 !important;
        border-bottom: 3px solid #9e8615 !important;
        border-radius: 0 !important;
        margin-bottom: 1px !important;
        font-size: 18px;
        font-weight: bold;
        width: 175px;
        height: 35px;
        margin-top: 15px;
    }




    button#EyeCaptureButton {
        cursor: pointer;
        color: white !important;
        background: #1f3646 !important;
        border-bottom: 3px solid #9e8615 !important;
        border-radius: 0 !important;
        margin-bottom: 1px !important;
        font-size: 18px;
        font-weight: bold;
        width: 175px;
        height: 35px;
        margin-top: 15px;
    }

    button#SaveEyeButton::after {
        content: "\f0c7";
        color: #9e8615;
        font-size: 18px;
        margin-left: 18px;
    }


    button#EyeVeryfiyButton::after {
        content: "\f046";
        color: #9e8615;
        font-size: 18px;
        margin-left: 5px;
    }

    button#buttonBack:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }


    

    button#EyeCaptureButton:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
    }

    button#EyeCaptureButton::after {
        content: "\f06e";
        color: #9e8615;
        font-size: 18px;
        margin-left: 10px;
    }

    button#connectButton {
        cursor: pointer;
        color: white !important;
        background: #1f3646 !important;
        border-bottom: 3px solid #9e8615 !important;
        border-radius: 0 !important;
        margin-bottom: 1px !important;
        font-size: 18px;
        font-weight: bold;
        width: 175px;
        height: 35px;
    }

    .panel-default > .panel-heading {
        direction: rtl;
        background-color: #1f3646;
        border-bottom: 3px solid #9e8615;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-orientation: rtl;
    }

    .form-control {
        border: 1px solid #9e8615;
    }

    button#saveButton:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
    }

    button#saveButton {
        background-color: #1f3646;
        border-bottom: 3px solid #9e8615;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        color: white;
        width: 200px !important;
    }

    button#captureButton:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
    }

    button#EyeVeryfiyButton:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor:pointer;
    }

    button#SaveEyeButton:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
    }

    

    button#captureButton {
        background-color: #1f3646;
        border-bottom: 3px solid #9e8615;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        color: white;
        width: 200px !important;
    }


    button#SaveImageCapture:hover {
        opacity: 0.8;
        color: blanchedalmond;
        font-weight: bold;
        cursor: pointer;
    }


    button#SaveImageCapture {
        background-color: #1f3646;
        border-bottom: 3px solid #9e8615;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        color: white;
        width: 200px !important;
    }

    button#connectButton:after {
        content: "\f013";
        color: #9e8615;
        font-size: 18px;
        margin-left: 27px;
    }

    button#captureButton:after {
        content: "\f030";
        color: #9e8615;
        font-size: 18px;
        margin-left: 5px;
    }

    button#saveButton:after {
        content: "\f0c7";
        color: #9e8615;
        font-size: 18px;
        margin-left: 5px;
    }

    .alert {
        padding: 20px;
        color: white;
        background-color: #1f3646;
        border-bottom: 3px solid #9e8615;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
            cursor: pointer;
        }

    select#sDevices {
        direction: rtl;
        font-size: 18px;
        font-weight: bold;
    }

    div#rcorners {
        border-radius: 10px 10px 0px 0px;
        border: 2px solid #1f3646;
        border-bottom: 0px;
        color: white !important;
        padding: 20px;
        width: 281px;
        margin-left: 23px;
        background-color: #1f3646;
        font-size: 20px;
    }

    button#buttonBack {
        background: #1f3646 !important;
        border-bottom: 3px solid #9e8615;
        color: white !important;
        width: 105px;
        height: 35px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
</style>
<div class="container">


    <div class="panel panel-default">
        <div class="panel-heading">بصـــــمة العــــين</div>
    </div>

    <div class="col-lg-12 col-lg-offset-1 text-center">

        <div class="row" style="margin-left:10px;">
            <div class="form-group col-sm-8">
                <select id="sDevices" class="form-control">
                    <option value="1">العــين اليـــسار</option>
                    <option value="0">العـــين اليمــين</option>
                    <option value="2" selected>كلـــتا العينــين</option>

                </select>
            </div>
            <div class="form-group col-sm-4">
                <button class="fa" id="buttonBack" class="btn btn-success btn-block">الرئيسية</button>
            </div>

        </div>

        <div class="row" style="margin-left:10px;">
            <div class="form-group col-sm-8">
                <div id="img" class="row" style="margin: 0 auto;">
                    <div class="col-md-6">
                        <div class="img_camera">
                            <div id="pageloaddivLeft">
                            </div>
                        </div>
                        <div id="rcorners">العـــين اليمــنى</div>
                        <img id="IMAGE_IRIS_LEFT" alt="" class="borderSstyle" width="280" height="240" style="border: 1px solid #000000; border-radius: 0px 0px 25px 25px; margin-top: -1px;" />

                        <!-- <canvas id="myCanvas" class="borderSstyle " width="320" height="240" style="border:1px solid #000000;"></canvas> -->
                    </div>

                    <div class="col-md-6">
                        <div class="img_camera">
                            <div id="pageloaddivRight">
                            </div>
                        </div>
                        <div id="rcorners">العـــين اليســرى</div>
                        <img id="IMAGE_IRIS_RIGHT" runat="server" class="borderSstyle" width="280" height="240" style="border: 1px solid #000000; border-radius: 0px 0px 25px 25px; margin-top: -1px;" />

                        <!--<img id="imgCaptured" class="borderSstyle" width="190px" height="240px" src="" />-->
                    </div>
                </div>

                <div id="img" class="row" style=" margin-top: 30px; margin-left: 90px;">
                    <div id="QialtyHide" class="col-md-3" style="display: flex; direction: rtl;">
                        <h4 id="DeqaIDRight" style="font-weight: bold;">الدقــــة &nbsp;&nbsp; </h4> <h4 id="QuiltyRight" style="font-weight: bold; color: brown; font-size: 20px;"> </h4>
                    </div>


                    <div id="QialtyHide2" class="col-md-6" style="display: flex; direction: rtl;">
                        <h4 id="DeqaIDLeft" style="font-weight: bold;">الدقــــة &nbsp; &nbsp; </h4> <h4 id="QuiltyLeft" style="font-weight: bold; color: brown; font-size: 20px;"> </h4>
                    </div>
                </div>

                <div id="DivMessgaBox" class="row" style="margin:30px;">
                    <div class="col-md-12">
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <p style="font-size: 25px;" id="ResponseMessageQuailityEyes"></p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="form-group col-sm-2">
                @*<button type="button" class="fa" id="connectButton" class="btn btn-success btn-block ">تجهيز الكاميرا</button>*@

                <button type="button" class="fa" id="EyeCaptureButton" class="btn btn-success btn-block">التقاط بصمه العين</button>

                <button type="button" class="fa" id="SaveEyeButton" class="btn btn-success btn-block ">حفظ بصمات العين</button>

                <button type="button" class="fa" id="EyeVeryfiyButton" class="btn btn-success btn-block ">التحقق من بصمه العين</button>


            </div>
        </div>

    </div>
</div>

